.lord {background-color: #f4a261;}
.elders {background-color: #e76f51;}
.mormon {background-color: #2a9d8f;}
.jared {background-color: #e9c46a;}
.broofjared {background-color: #264653;}
.daughterofjared {background-color: #2b2d42;}
.akish {background-color: #8d99ae;}
.moroni {background-color: #edf2f4;}
.ether {background-color: #ef233c;}
