.lord {background-color: #f4a261;}
.elders {background-color: #e76f51;}
.mormon {background-color: #2a9d8f;}
.jared {background-color: #e9c46a;}
.broofjared {background-color: #264653;}
.daughterofjared {background-color: #2b2d42;}
.akish {background-color: #8d99ae;}
.moroni {background-color: #edf2f4;}
.ether {background-color: #ef233c;}
.nephi {background-color: #90be6d;}
.angel {background-color: #f4a261;}
.daughtersofishmael {background-color: #e76f51;}
.futurejohnthebaptist {background-color: #2a9d8f;}
.god {background-color: #e9c46a;}
.laban {background-color: #264653;}
.lamanlemuel {background-color: #2b2d42;}
.lehi {background-color: #90be6d;}
.lord {background-color: #ef233c;}
.nephi {background-color: #f9c74f;}
.sariah {background-color: #8d99ae;}
.spirit {background-color: #edf2f4;}
.zenos {background-color: #f9a828;}
